.benefitsCard__container:hover {
  background-color: #ebebeb;
  cursor: pointer;
  transform: scale3d(1.03, 1.03, 1.03);
  transition: 0.3s transform;
}
.benefitsCard__container .benefitsCard__iconContainer {
  background-color: #55e0a3;
  transition: 0.3s;
  color: white;
}
.benefitsCard__container:hover .benefitsCard__iconContainer {
  background-color: #fff;
  transition: 0.3s;
  color: #55e0a3;
}
